* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to Ttop, rgb(117, 132, 132), white);
  font-family:"Roboto", sans-serif;
  height: 100vh;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
}
a:visited, a:hover, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

.card {
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4.5rem 50px 50px 50px;
  padding: 20px;
}

.nav-item {
  align-self: flex-end;
  color: #3d6ded;
}

.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  color: white;
  background-color: #282A35;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
  width: 8em;
  border-radius: 0.5rem;
  font-weight: bold ;
  font-size: 20px;
}

nav li a {
  color: white;
}

nav li a:visited {
  text-decoration: none;
  color: white;
}

nav li a:link {
  text-decoration: none;
}
nav li:hover {
  background-color: black;
}
.active-page{
  background-color: #04A96C;
}

.socialLinks:visited, .socialLinks:link {
  text-decoration: none;
  color: inherit;
}

.socialLinksUL {
  padding: 0;
  margin: 0;
  font-size: 1.9em;
}

.socialLinksUL li {
  float: left;
  padding: 0.5rem 1.6rem 0.5rem 1.6rem;
  list-style-type: none;
}

.card-container {
  width: 50%;
}

.form{
  margin-top: 0.5rem;
  display: block;
  border: 1px solid white;
  border-radius: 8px;
  padding: 1em 1em 1em 1em;
}

.form input, .form textarea, .form button {
  display:block;
  margin-bottom: 0.7rem;
  padding: 0.5em;
}

button {
  cursor: pointer;
}

footer{
  width: 100%;
  height: 12em;
  background-color:#282A35 ;
  margin-top: auto;
  color: white;
  text-align: center;
}
.bullet{
  list-style-type: none;
  display: inline;
  margin-left: 3rem;
}
.languages{
  display: inline;
}
.langContainer{
  margin-bottom: 36px;
  margin-top: 36px;
}
.items{
  margin: 24px 0 24px 0;
  padding-left: 0;
}
.fullWidth{
  width: 100%;
}

.thirdWidth{ 
  width: 33%;
}
.checkbox{
  float: left;
}
.submit{
  background-color: #059862;
  border: none;
  height: 2.5em;
  width: 7em;
  margin-top: 1em;
}
.message{
  height: 100px;
}
.aboutContainer{
width: 100%;
display: flex;
}
.aboutThings{
margin: 6px;
border: 1px solid white;
border-radius: 8px;
padding: 1em 1em 1em 1em;
line-height: 1.5em;
}

.mapBox {
  justify-content: center;
  text-align: center;
}

.active {
  font-weight: bold;
}

/* Animations */
/* https://frontendmasters.github.io/bootcamp/dogs */

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes psychadelic {
  100% {
    filter: hue-rotate(360deg);
  }
}

.color {
  animation: psychadelic 3s linear infinite;
}

.spin {
  animation: spin 3s ease-in-out infinite;
}
.mainBox{
  margin: 2rem 22rem 2rem 22rem;
  border: 1px solid white;
  border-radius: 8px;
  padding: 2em 2em 2em 2em;
  line-height: 1.5em
}
.mainText{
  font-weight: bold;
}
.redYustin{
  color: red;
  font-size: 1rem;
}